body { margin: 0px; }

#title, #info, #canvas {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#info {
    top: 40px;
}

#canvas {
    border: 5px solid black;
    top: 50%;
    transform: translate(-50%, -50%);
}